[submodule "persons-frontend"]
	path = persons-frontend
	url = https://github.com/adnanioricce/ibssistemas-desafio-frontend.git
[submodule "persons-system"]
	path = persons-system
	url = https://github.com/adnanioricce/ibssistemas-desafio-api.git
